form.form-inline.top-search {
    width: 100%;
    max-width: 60%;
}
form.form-inline.top-search input.form-control{
    width: 100%;
    max-width: 80%;
}
header .select-selected {
    width: 10rem;
}
header .select-selected:after {

    top: 45%!important;

}
img.cat-banner {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}
a.category-item {
    margin: .5rem;
}
.sub-cats .active{
    border: 1px solid #59b828;
}
.map-marker img {
    height: 1.6rem;
}
.slider-banner .swiper-slide.swiper-slide-active {
    width: 100%!important;
}